# Executables
bin

# Build directories
build*
software/WebCLI/libs

# Session files
dsgrn.session

# Mac OS X files
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.x
*.exe
*.app

# Data
*.dat
*.db

# IntelliJ Idea
*.iml
*.idea

